<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/orders.css">
</head>

<body>
<%- include('../partials/navigation.ejs') %>
<main>
    <% if (orders.length <= 0) { %>
        <h1>Nothing there!</h1>
    <% } else { %>
        <ul class="orders">
            <% orders.map(order => { %>
                <li class="orders__item">
                    <h1># <%= order._id %></h1>
                    <ul class="orders__products">
                        <% order.items.forEach(p => { %>
                            <li class="orders__products-item"><%= p.productId.title %> (<%= p.quantity %>)</li>
                        <% }) %>
                    </ul>
                </li>
            <% }) %>
        </ul>
    <% } %>
</main>
<%- include('../partials/footer.ejs') %>
